<div class="heading"><h1>Game Connect</h1></div>
<div *ngIf="vm$ | async as vm" class="connections">
  <div *ngIf="vm.players.length && vm.peerId" class="game-players">
    <h2>Players</h2>
    <app-player-connect *ngFor="let player of vm.players" [peerId]="vm.peerId" [player]="player" clientType="player"
                        showButton="true"></app-player-connect>
  </div>
  <div *ngIf="!vm.players.length" class="actions">
    <button color="primary" mat-raised-button routerLink="..">Ready to play!</button>
  </div>
  <pre>
    {{ vm | json}}
  </pre>

</div>
