<div class="heading"><h1>Game Connect</h1></div>
<div *ngIf="vm$ | async as vm" class="connections">
  <div *ngIf="vm.showHost && vm.peerId" class="game-host">
    <h2>Host</h2>
    <a [href]="formatLink('host',vm.peerId)" color="primary" mat-raised-button target="_blank">Host Link</a>
    <app-qr [size]="100" [value]="formatLink('host',vm.peerId)"></app-qr>
  </div>
  <div *ngIf="vm.players.length && vm.peerId" class="game-players">
    <h2>Players</h2>
    <div *ngFor="let player of vm.players" class="game-player">
      <a [href]="formatLink('player',vm.peerId, player)"
         color="primary" mat-raised-button target="_blank">{{player.name}} Link</a>
      <app-qr [size]="100" [value]="formatLink('player',vm.peerId, player)"></app-qr>
    </div>
  </div>
  <div *ngIf="!vm.showHost && !vm.players.length" class="actions">
    <button color="primary" mat-raised-button routerLink="../">Ready to play!</button>
  </div>

</div>
