<div #gameBoard *ngIf="vm$ | async as vm" class="game-board">
  <div *ngFor="let category of vm.categories; index as i" class="category-name">{{category.name}}</div>
  <ng-container *ngFor="let value of values; index as j">
    <ng-container *ngFor="let category of vm.categories; index as i">
      <div (click)="goToAnswer(category.id, i, value)" *ngIf="!isAnswered(category.id, j, vm.answered)"
           class="clue">{{value}}</div>
      <div *ngIf="isAnswered(category.id, j, vm.answered)" class="clue"></div>
    </ng-container>
  </ng-container>
</div>
