.game-board {
  height: 100vh;
  display: grid;
  grid-template: "header" auto "board" 1fr "scores" max-content
  / auto;

  mat-toolbar {
    grid-area: header;
  }

  app-grid {
    grid-area: board;
  }

  app-score {
    grid-area: scores;
  }
}

