:host {
  display: grid;
  height: 100vh;
  grid-template: "heading" auto "links" 1fr
  / 1fr;

  .heading {
    grid-area: heading;
  }

  .connections {
    grid-area: links;
  }

  .actions {
    grid-area: links;
  }
}


.connections {
  display: grid;
  grid-template: " host " 1fr " players" 1fr
  / 1fr;

  .game-host {
    grid-area: host;
  }

  .game-players {
    grid-area: players;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
